// body{
//   font-size: calc(0.75em + 1vw);
// 	overflow-x: hidden;
// }

// text-shadow: -8px 0 white, 0 8px white, 8px 0 white, 0 -8px white;

html,
body {
  height: 100%;
  font-size: calc(0.75em + 1vw);
}

.all_wrap{
  display: flex;
  flex-direction: column;
  width:100%;
  height:100%;
}

header{
  height:fit-content;
  font-size: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
padding: 0 15em;
  
  >h3{
    width:fit-content;
    font-size: 1em;
  }
  
  >ul{
    display: inherit;
    flex-direction: row;
    
    >li{
      display: inline;
      margin:0 1em;
      font-size:0.8em;
    }
    
  }
}
