.All_topCards {
  display: flex;
  flex-direction: column;
  transition-timing-function: cubc-bezier(0, 0, 0.2, 1);
  transition: .5s;
  >section.Main {
    width: 100%;
    background-color: rgb(32, 51, 69);
    height: 12em;
    overflow: hidden;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;

    >img {
      width: 80%;
      height: 35em;
      text-align: center;
      margin-left: 8em;
      margin-top: -7.5em;
      position: absolute;
      z-index: 0;
      filter: brightness(70%);
    }

    >.texts {
      font-family: 'Abyssinica SIL', serif;
      z-index: 1;
      color: white;
      text-shadow: -2px 0 rgb(93, 93, 93), 0 2px rgb(93, 93, 93), 2px 0 rgb(93, 93, 93), 0 -2px rgb(93, 93, 93);

      >h2 {
        font-size: 2em;
        font-weight: 700;
        margin-top: 2em;
      }

      >p {
        font-size: 0.6em;
        margin-top: -2em;
      }

      >h4 {
        font-family: 'Noto Sans Mono', monospace;
        font-size: 0.5em;
      }
    }
  }

  >section.Podium {
    display: flex;
    width: 100vw;
    margin-top: 0.1em;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    >.Rank {
      display: flex;
      flex-direction: row;
      margin: 1em 0 -0.5em 5em;
      width: 80vw;
      padding: 0.5em;
      border-radius: 100px;
      height: fit-content;
      font-family: 'Noto Sans Mono', monospace;

      >.col{
        width: 100%;
        text-align: left;
        .progressBar {
          width: 80%;
          margin: -5px 0;
          background: #eee;
          height: 20px;
          display: flex;
          align-items: center;
          border-radius: 10px;
          position:relative;

          .highLight{
            background: #FCEFAC;
            height: 20px;
            transition: width 1s;
            border-radius: 10px;
          }

          >p {
            position: absolute;
            font-size: 0.7em; 
            right:2em;
            font-family: 'Abyssinica SIL', serif;
          }
        }

        >h3 {
          font-size: 0.6em;
        }

      }

      >h4 {
        margin: 1em;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        align-items: center;
      }

      >img {
        width: 60px;
        height: 80px;
        margin: 0 1em 0 0.5em;
      }

      &:nth-child(1) {
        >h4 {
          color: gold;
        }
      }

      &:nth-child(2) {
        >h4 {
          color: silver;
        }
      }

      &:nth-child(3) {
        >h4 {
          color: rgb(107, 72, 48);
        }
      }
    }
  }
}